.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.home__block {
    display: flex;
    flex-direction: column;
    padding: 32px 64px;
}

.home .home__block:nth-child(odd) {
    display: flex;
    background-color: var(--gohan);
}