.content {

    &__controls {
        display: flex;
        padding: 4px 12px;
        background-color: var(--gohan);
        border-top: 1px dashed var(--backdrop);
        box-shadow: 0 4px 4px 0 var(--backdrop);

        &-icon {
            background-color: var(--goku);
            padding: 2px 8px;
            border-radius: 4px;
            height: 26px;
            cursor: pointer;

            svg {
                fill: var(--bulma);
            }

            &:hover {
                svg {
                    fill: var(--trunks);
                }
            }

            &:active {
                box-shadow: 0 0 4px 0 var(--backdrop);
            }
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: auto;
        padding: 24px;
        column-gap: 8px;
    }

    &_item {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        user-select: none;
        text-align: center;
        width: max-content;
        height: max-content;
        padding: 8px;
        border-radius: 8px;
        max-width: 86px;
        

        &:hover {
            background-color: var(--ghost);
        }

        & svg {
            width: 90px;
            height: 60px;
        }

        &__title {
            margin: 0 auto;
            max-width: 90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.context {
    background-color: var(--gohan);
    border-radius: 8px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    min-width: 120px;

    &__item {
        cursor: pointer;
        user-select: none;
        padding: 4px 8px;

        &:hover {
            background-color: var(--goku);
        }
    }
}