.button {
    cursor: pointer;
    border: none;
    background-color: var(--piccolo);
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 var(--piccolo);
    color: var(--gohan);
}

.button:hover {
    background-color: var(--piccolo-hover);
}