.container {
    display: grid;
    height: 100vh;
    position: fixed;
    grid-template-columns: 72px;
}

.sidebar {
    max-height: calc(100vh - 48px);
    position: relative;
    width: 100%;
    padding: 36px 0 12px;
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gohan);

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        &-logo {
            width: 32px;
            height: 32px;

            & path {
                stroke: var(--piccolo);
            }
        }

        &__controls {
            display: flex;
            flex-direction: column;
            gap: 12px;

            &-item {
                text-decoration: none;
                color: var(--bulma);
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 56px;
                height: 56px;
                border-radius: 8px;

                &:hover {
                    background-color: var(--goku);
                }

                &:active {
                    background-color: var(--ghost);
                }
            }
        }
    }

    &__controls {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__settings {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 56px;
            height: 56px;
            border-radius: 8px;
            
            & circle, & path {
                stroke: var(--bulma);
            }

            &:hover {
                background-color: var(--goku);
            }

            &:active {
                background-color: var(--ghost);
            }
        }
    }
}
