.container {
    display: flex;
    flex-direction: column;
}
.block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center;
    justify-content: space-between;

    &__image {
        display: flex;
        width: 100%;
        justify-content: center;

        & svg {
            width: 50%;
            height: 50%;
            box-sizing: border-box;
            border-radius: 8px;

            & path, & circle {
                stroke: var(--bulma);
            }
        }
    }

    &__info {
        display: flex;
        justify-content: flex-start;
        gap: 12px;
        flex-direction: column;
        width: 100%;
    }

}
